
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#moodFieldset {
    display: flex;
    flex-direction: column;
}

#button {
    margin: 10px;
    padding: .3em;
    border-radius: 10px;
}

.fieldset {
    display: flex;
    margin-top: 10px;
}
#editButton {
    margin: 10px;
}

#searchInput {
    display: flex;
    flex-direction: row;
}
.firstForm {
    display: flex;
    flex-direction: column;
    width: 40%;
}
#secondForm {
    display: flex;
    width: 40%;
    flex-direction: column;
}